{% extends "master.html.twig" %}

{% block title %}Add a new comment for Group{% endblock %}

{% block content %}
    
{% if errorList %}
    <ul class="errorList">
        {% for error in errorList %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}

<h3>Please fill the form below to add a comment for group.</h3>

<form method="post" enctype="multipart/form-data">
    Commented By: <input type="text" placeholder="Enter your full name here" name="commentedBy" value="{{v.commentedBy}}"><br>
    Group: <input type="text" placeholder="Enter group name here" name="groupName" value="{{v.groupName}}"><br>
    Date: <input type="date"  name="date" value="{{v.date}}"><br>
    Comment: <input type="text" placeholder="Enter your comment here" name="comment" value="{{v.comment}}"><br>
    
    <input type="submit" value="Add comment">
</form>

{% endblock content %}

