{% extends "master.html.twig" %}

{% block title %}Edit a Child{% endblock %}

{% block content %}
    
{% if errorList %}
    <ul class="errorList">
        {% for error in errorList %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}

<form method="post" enctype="multipart/form-data">
    Name: <input type="text" name="kidName" value="{{v.kidName}}"><br>
    Age: <input type="integer" name="age" value="{{v.age}}"><br>
    Group: <input type="text" name="groupName" value="{{v.groupName}}"><br>
    Name of Mother: <input type="text" name="motherName" value="{{v.motherName}}"><br>
    Phone of Mother: <input type="text" name="motherPhone" value="{{v.motherPhone}}"><br>
    Name of Father: <input type="text" name="fatherName" value="{{v.fatherName}}"><br>
    Phone of Father: <input type="text" name="fatherPhone" value="{{v.fatherPhone}}"><br>
    Address: <input type="text" name="address" value="{{v.address}}"><br>
    Allergies: <input type="text" name="allergies" value="{{v.allergies}}"><br>
    Notes: <input type="text" name="notes" value="{{v.notes}}"><br>
    <img src="/viewphotokids/{{v.id}}">
    Photo: <input type="file" name="photo"><br>
     {% if v.imagePath %}
            <img width="50" src="/{{v.imagePath}}">
        {% endif %}
    <input type="submit" value="{{operation}} child">
</form>

{% endblock content %}
