{% extends "master.html.twig" %}

{% block title %}Edit educator{% endblock %}

{% block content %}
    
{% if errorList %}
    <ul class="errorList">
        {% for error in errorList %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}

<form method="post" enctype="multipart/form-data">
    Name: <input type="text" name="name" value="{{v.name}}"><br>
    Email: <input type="text" name="email" value="{{v.email}}"><br>
    Phone : <input type="text" name="phone" value="{{v.phone}}"><br>
    Group: <input type="text" name="groupName" value="{{v.groupName}}"><br>
    Start date: <input type="date" name="startDate" value="{{v.startDate}}"><br>
    Last Vacation: <input type="date" name="previousVacation" value="{{v.previousVacation}}"><br>
    Next Vacation: <input type="date" name="nextVacation" value="{{v.nextVacation}}"><br>
    Salary/Year: <input type="integer" name="yearlySalary" value="{{v.yearlySalary}}"><br>
    Photo: <img src="/viewphotoeducators/{{v.id}}">
    Photo: <input type="file" name="photo"><br> 
    <input type="submit" value="{{operation}} educator">
</form>

{% endblock content %}
