{% extends "master.html.twig" %}

{% block title %}Educators list{% endblock %}

{% block content %}
    <div>
        <h2>
            <strong>Educators List</strong>
        </h2>
        <form method="post" >
            <table border="1">
                <th>Name</th>
                <th>Phone</th>
                <th>Photo</th>
                    {% for e in educators %}
                    <tr>
                        <td>{{ e.name }}</td>
                        <td>{{ e.phone }}</td>
                        <td>{{ e.photo }}</td>
                        <td><a href="/edit/{{e.id}}">edit</a></td>
                        <td><a href="/delete/{{e.id}}">delete</a></td>
                    </tr>
                {% endfor %}
            </table>
            <div>
                <button type="submit" class="btn btn--right"><a href="/add" class='btn--no--underline'>Add Educator</a></button>
            </div>
        </form>    
    </div>

{% endblock %}
