{% extends "master.html.twig" %}

{% block title %}List of Children{% endblock %}

{% block content %}
    <div class="wrap2" >
        <h2>
            <strong>List of Children</strong>
             <div>
                 <a href="/addchild" class="button">Add new Child</a>
            </div> 
        </h2>
            <table border="1">
                <th>Name</th>
                <th>Age</th>
                <th>Photo</th>
                <th>Allergies</th>
                <th>Group</th>
                <th>Mother</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Map</th>
                <th>Notes</th>
                <th>Edit</th>
                <th>Delete</th>
                    {% for k in kids %}
                    <tr>
                        <td>{{ k.kidName }}</td>
                        <td>{{ k.age }}</td>
                        <td><img src="/viewphotokids/{{k.id}}"></td>
                        <td>{{ k.allergies }}</td>
                        <td>{{ k.groupName }}</td>
                        <td>{{ k.motherName }}</td>
                        <td>{{ k.motherPhone }}</td>
                        <td class="center"><a href="https://maps.google.com/?q={{ k.address }}" target="_blank">{{ k.address }}</a></td>
                        <td>
                            <iframe width="300" height="160" frameborder="0" scrolling="no" marginheight="0" 
                                    marginwidth="0" src="https://maps.google.ca/maps?q={{ k.address }}
                                    &output=embed"></iframe></td>
                        <td>{{ k.notes }}</td>
                        <td><a href="/editchild/edit/{{k.id}}">edit</a></td>
                        <td><a href="/deletechild/delete/{{k.id}}">delete</a></td>
                    </tr>
                {% endfor %}
            </table>
             
    </div>
          
{% endblock %}

