{% extends "master.html.twig" %}

{% block title %}Educators list{% endblock %}

{% block content %}
    <div>
        <h2>
            <strong>Educators List</strong>
        </h2>
        
            <table border="1">
                <th>Name</th>
                <th>Phone</th>
                <th>Photo</th>
                <th>Email</th>
                <th>Group</th>
                <th>Hire date</th>
                <th>Salary</th>
                <th>Previous Vacation</th>
                <th>Next Vacation</th>
                <th>Edit</th>
                <th>Delete</th>
                    {% for e in educators %}
                    <tr>
                        <td>{{ e.name }}</td>
                        <td>{{ e.phone }}</td>
                        <td><img src="/viewphotoeducators/{{e.id}}"</td>
                        <td>{{ e.email }}</td>
                        <td>{{ e.groupName }}</td>
                        <td>{{ e.startDate }}</td>
                        <td>{{ e.yearlySalary }}</td>
                        <td>{{ e.previousVacation }}</td>
                        <td>{{ e.nextVacation }}</td>
                        <td><a href="/editeducator/edit/{{e.id}}">edit</a></td>
                        <td><a href="/deleteeducator/delete/{{e.id}}">delete</a></td>
                    </tr>
                {% endfor %}
            </table>
            <div>
                <button type="submit" class="btn btn--right"><a href="/addeducator" class='btn--no--underline'>Add Educator</a></button>
            </div>
         
    </div>

{% endblock %}
